.extra-info {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.extra-info p {
    padding-left: 20px;
}

.extra-info h2 {
    padding-left: 20px;
}