.skills {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.skills-container {
    padding-left: 20px
}

.skills-container ul {
    padding-left: 0px;
    list-style: none;
}

.category-selector button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .category-selector button:hover {
    background-color: #0056b3;
  }
  
  .category-selector button:active {
    background-color: #004085;
  }